.nav {
  padding: 20px 0;
  background: var(--brand);
  list-style: none;
  text-align: center;
}

li {
  display: inline-block;
  padding: 0 5px;
  letter-spacing: 1px;
}

a {
  color: var(--secundary);
  text-decoration: none;
}

a:hover {
  background: var(--secundary);
  color: var(--brand);
}