* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand: #3867d6;
  --secundary: #d1d8e0;
}

body {
  font-family: 'Krub', sans-serif;
  font-weight: 300;
  background: var(--brand);
}